@model Fakebook.Web.Models.ViewModels.ProfileViewModel

<div class="col-md-5">
	<div class="sticky-top" style="padding-top:4rem">
		<div class="card card card-outline-primary p-1 container">
			<div class ="row">
				@* @if(Model.IsProfileOwner)
				{
					<div class="badge" style="position:absolute; right:100%; top:100%; margin:auto;">
						<img src="~/images/edit.svg"></img>
						<div>Edit Profile</div>
					</div>
				} *@
				<div class="col-md-4 px-auto">
					<img class="img-fluid mx-auto" src="https://beachmeter.com/wp-content/uploads/2017/06/250x250px.png" width="200" height="200"></img>
				</div>
				<div class="container col-md-8 pl-0 pr-15 m-0" style="display: flex; flex-direction: row; flex-wrap: wrap; flex-flow: column wrap; align-content: flex-start;">
					<div style="order: 0;"> 
						<div style="font-size: 2em">@Model.ProfileUser.FirstName @Model.ProfileUser.LastName</div>
					</div>
					<div class="row mx-auto">
						@if (Model.ProfileUser.Birthdate != null)
						{
							<div class="badge pr-2 pt-2 pb-2 m-1 profilebadge" title="Birthday" style="order: 1"><img src="~/images/birthday.svg" height="20px"></img>@Model.ProfileUser.Birthdate?.ToShortDateString()</div>
						}
						@if (!String.IsNullOrEmpty(Model.ProfileUser.City))
						{
							<div class="badge pr-2 pt-2 pb-2 m-1 profilebadge" title="Current home" style="order: 2"><img src="~/images/location.svg" height="20px"></img>
							</div>
						}
						@* TODO: display locations *@
						@if (!String.IsNullOrEmpty(Model.ProfileUser.Gender))
						{
							<div class="badge pr-2 pt-2 pb-2 m-1 profilebadge" title="Gender" style="order: 3">@Model.ProfileUser.Gender</div>
						}
						@if (!(String.IsNullOrEmpty(Model.ProfileUser.Company)) && !(String.IsNullOrEmpty(Model.ProfileUser.Company)))
						{
							<div class="badge pr-2 pt-2 pb-2 m-1 profilebadge" title="Job" style="order: 4"><img src="~/images/workplace.svg" height="20px"></img>@Model.ProfileUser.JobTitle at @Model.ProfileUser.Company</div>
						}
						else if (!String.IsNullOrEmpty(Model.ProfileUser.Company))
						{
							<div class="badge pr-2 pt-2 pb-2 m-1 profilebadge" title="Workplace" style="order: 4"><img src="~/images/workplace.svg" height="20px"></img>@Model.ProfileUser.Company</div>
						}
						else if (!String.IsNullOrEmpty(Model.ProfileUser.Company))
						{
							<div class="badge pr-2 pt-2 pb-2 m-1 profilebadge" title="Job title" style="order: 4"><img src="~/images/workplace.svg" height="20px"></img>@Model.ProfileUser.JobTitle</div>
						}
						@if (!String.IsNullOrEmpty(Model.ProfileUser.HighSchool))
						{
							<div class="badge pr-2 pt-2 pb-2 m-1 profilebadge" title="High school" style="order: 5"><img src="~/images/highschool.svg" height="20px"></img>@Model.ProfileUser.HighSchool</div>
						}
						@if (!String.IsNullOrEmpty(Model.ProfileUser.College))
						{
							<div class="badge pr-2 pt-2 pb-2 m-1 profilebadge" title="College" style="order: 6"><img src="~/images/college.svg" height="20px"></img>@Model.ProfileUser.College</div>
						}
					</div>
				</div>
			</div>
		</div>
		@if (!Model.IsProfileOwner)
		{
			<div>
				@if (Model.Friendship == null) {
					<a asp-controller="Friends" asp-Action="AddFriend" asp-route-userPublicId="@Model.ProfileUser.PublicId" class="btn container-fluid" style="background-color:#7b2cab; border-color:#7b2cab; color:white;">Add Friend</a>
				}

				else if (Model.Friendship.Status == Fakebook.Core.Entities.Status.Pending) {
					<a asp-controller="Friends" asp-Action="RemoveFriend" asp-route-userPublicId="@Model.ProfileUser.PublicId" class="btn container-fluid" style="background-color:#7b2cab; border-color:#7b2cab; color:white;">Cancel Friend Request</a>
				}

				else if (Model.Friendship.Status == Fakebook.Core.Entities.Status.Accepted) {
					<a asp-controller="Friends" asp-Action="RemoveFriend" asp-route-userPublicId="@Model.ProfileUser.PublicId" class="btn container-fluid" style="background-color:#7b2cab; border-color:#7b2cab; color:white;">Remove Friend</a>
				}
			</div>
		}
	</div>
</div>
<div id="posts" class="col-md-7" style="padding-top:4rem" />

@section Scripts
{
	<script type="text/javascript" data-user_id="@Model.ProfileUser.Id" data-url="User" src ="~/js/postscroll.js"></script>
}