@model Fakebook.Web.Models.ViewModels.ProfileViewModel

<div class="row">
	<div class="col-md-5" style="z-index: 0;">
		<div class="sticky-top" style="top: 4rem">
			<div class="card card-outline-primary mb-1 mt-1 p-1" style="width:100%;">
				<img class="img-fluid mx-auto" src="data:image/png;base64,@Convert.ToBase64String(Model.ProfileUser.ProfilePicture)" style="display: block; order: 0; left:100;" width="150" height="150"></img>
				<div style="font-size: 2em; text-align: center;">@Model.ProfileUser.FirstName @Model.ProfileUser.LastName</div>
				@if(Model.IsProfileOwner)
					{
						<button type="button" class="btn" id="profileEditBtn" data-toggle="modal" data-target="#profileEditModal" style="position:absolute; right:0; top:0; margin:auto; z-index:100;">
							<img src="~/images/edit.svg"></img>
							<div style="color: black">Edit Profile</div>
						</button>
					}
			</div>
			<div class="card card-outline-primary mb-1 mt-1 p-1" id="profilebadges" style="display: flex; flex-direction: row; flex-wrap: wrap; align-content: flex-start; width: 100%;">
				@if (!String.IsNullOrEmpty(Model.ProfileUser.City))
				{
					<div class="badge pr-2 pt-2 pb-2 m-1 profilebadge" title="Current home" style="order: 0"><img src="~/images/home.svg" height="20px"></img>@Model.ProfileUser.City</div>
				}
				@if (!String.IsNullOrEmpty(Model.ProfileUser.Hometown))
				{
					<div class="badge pr-2 pt-2 pb-2 m-1 profilebadge" title="Hometown" style="order: 1">From @Model.ProfileUser.Hometown</div>
				}
				@if (!String.IsNullOrEmpty(Model.ProfileUser.Gender))
				{
					<div class="badge pr-2 pt-2 pb-2 m-1 profilebadge" title="Gender" style="order: 2">@Model.ProfileUser.Gender</div>
				}
				@if (Model.ProfileUser.Birthdate != null)
				{
					@if (Model.ProfileUser.BirthdateYearPublic == true)
					{
						<div class="badge pr-2 pt-2 pb-2 m-1 profilebadge" title="Birthday" style="order: 3"><img src="~/images/birthday.svg" height="20px"></img>@Model.ProfileUser.Birthdate?.ToShortDateString()</div>
					}
					else
					{
						<div class="badge pr-2 pt-2 pb-2 m-1 profilebadge" title="Birthday" style="order: 3"><img src="~/images/birthday.svg" height="20px"></img>@Model.ProfileUser.Birthdate?.ToString("MMMM dd")</div>

					}
				}
				@if (!(String.IsNullOrEmpty(Model.ProfileUser.JobTitle)) && !(String.IsNullOrEmpty(Model.ProfileUser.Company)))
				{
					<div class="badge pr-2 pt-2 pb-2 m-1 profilebadge" title="Job" style="order: 4"><img src="~/images/workplace.svg" height="20px"></img>@Model.ProfileUser.JobTitle at @Model.ProfileUser.Company</div>
				}
				else if (!String.IsNullOrEmpty(Model.ProfileUser.Company))
				{
					<div class="badge pr-2 pt-2 pb-2 m-1 profilebadge" title="Workplace" style="order: 4"><img src="~/images/workplace.svg" height="20px"></img>@Model.ProfileUser.Company</div>
				}
				else if (!String.IsNullOrEmpty(Model.ProfileUser.JobTitle))
				{
					<div class="badge pr-2 pt-2 pb-2 m-1 profilebadge" title="Job title" style="order: 4"><img src="~/images/workplace.svg" height="20px"></img>@Model.ProfileUser.JobTitle</div>
				}
				@if (!String.IsNullOrEmpty(Model.ProfileUser.HighSchool))
				{
					<div class="badge pr-2 pt-2 pb-2 m-1 profilebadge" title="High school" style="order: 5"><img src="~/images/highschool.svg" height="20px"></img>@Model.ProfileUser.HighSchool</div>
				}
				@if (!String.IsNullOrEmpty(Model.ProfileUser.College))
				{
					<div class="badge pr-2 pt-2 pb-2 m-1 profilebadge" title="College" style="order: 6"><img src="~/images/college.svg" height="20px"></img>@Model.ProfileUser.College</div>
				}
			</div>
			@if (!String.IsNullOrEmpty(Model.ProfileUser.Bio))
			{
				<div class="card mt-1 mb-1 p-1" style="width: 100%;">
					<h3 style="border-bottom: 1px solid gray;">Bio</h3>
					<p id="biotext">@Model.ProfileUser.Bio</p>
				</div>
			}
			@if (!Model.IsProfileOwner)
			{
				<div>
					@if (Model.Friendship == null) {
						<a asp-controller="Friends" asp-Action="AddFriend" asp-route-userPublicId="@Model.ProfileUser.PublicId" class="btn" style="background-color:#7b2cab; border-color:#7b2cab; color:white; width: 100%;">Add Friend</a>
					}

					else if (Model.Friendship.Status == Fakebook.Core.Entities.Status.Pending) {
						<a asp-controller="Friends" asp-Action="RemoveFriend" asp-route-userPublicId="@Model.ProfileUser.PublicId" class="btn" style="background-color:#7b2cab; border-color:#7b2cab; color:white; width: 100%;">Cancel Friend Request</a>
					}

					else if (Model.Friendship.Status == Fakebook.Core.Entities.Status.Accepted) {
						<a asp-controller="Friends" asp-Action="RemoveFriend" asp-route-userPublicId="@Model.ProfileUser.PublicId" class="btn" style="background-color:#7b2cab; border-color:#7b2cab; color:white; width: 100%;">Remove Friend</a>
					}
				</div>
			}
			@if (Model.Friends.Any())
			{
				<div class="card card-outline-primary mb-1 mt-1 p-1 " id="friendslist" style="display: flex; flex-direction: row; flex-wrap: wrap; align-content: flex-start; width: 100%;">
					<h3 class="m-0" style="border-bottom: 1px solid gray; width:100%;">Friends</h3>
					@foreach(FriendViewModel friend in Model.Friends)
					{
						<div class="friend m-1" style="outline: none;">
							<a href="/Profile/@friend.PublicId">
								<img class="img-fluid mx-auto" src="data:image/png;base64,@Convert.ToBase64String(friend.ProfilePicture)" style="display: block; order: 0; left:100;" width="105" height="105"></img>
							</a>
							<a href="/Profile/@friend.PublicId" class="friend-name ml-1 mr-1" style="font-size: 13px">@friend.FirstName @friend.LastName</a>
						</div>
					}
				</div>
			}
		</div>
	</div>
	<div class="col-md-7" id="posts">
		<partial name="_NewCommentPartial" for="@Model.CommentInput">
		@if(Model.IsProfileOwner)
		{
			<partial name="_NewPostPartial" />
		}
	</div>
	@if(Model.IsProfileOwner)
	{
		<div class="modal fade" id="profileEditModal" tabindex="-1" role="form" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="profileEditModalLabel">Edit Profile<h5>
						<button type="button" class="close editformclose" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form asp-controller="Photo" asp-action="NewProfilePhoto" method="post" id="photoform" enctype="multipart/form-data">
							<div class="form-group">
								<label asp-for="PhotoInput.File">Upload Photo</label>
								<br>
								<input asp-for="PhotoInput.File" type="file" accept="image/png, image/jpg, image/jpeg"></input>
								<span asp-validation-for="PhotoInput.File" class="text-danger"></span>
							</div>
							<div id="photoupdateresponse" class="updateresponse"></div>
							<button type="submit" class="btn">Save Photo</button>
						</form>
						<form asp-controller="User" asp-action="UpdatePublicId" method="post" id="pidform" enctype="multipart/form-data">
							<div class="row">
								<div class="form-group col">
									<label asp-for="PublicIdInput.PublicId" title="This is the part of the Url that identifies your profile">Public Identifier <img height="18px" src="~/images/question.svg" class="pb-1"/></label>
									<input asp-for="PublicIdInput.PublicId" type="text" value="@Model.ProfileUser.PublicId" class="form-control"></input>
									<span asp-validation-for="PublicIdInput.PublicId" class="text-danger"></span>
								</div>
								<div class="ml-30 col p-0">
									<button type="submit" style="margin-top: 7px; position: absolute; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);" class="btn">Save Public ID</button> 
								</div>
								<div id="pidupdateresponse" class="updateresponse col" style="padding-top: 2.2rem; padding-left: 0; padding-right: 0; "></div>
							</div>
						</form>
						<form asp-controller="User" asp-action="UpdateProfile" method="post" id="editform">
							<div class="input-group">
								<div class="form-group pr-1">
									<label asp-for="UpdateInput.FirstName">First name</label>
									<input asp-for="UpdateInput.FirstName" type="text" value="@Model.ProfileUser.FirstName" class="form-control"></input>
									<span asp-validation-for="UpdateInput.FirstName" class="text-danger"></span>
								</div>
								<div class="form-group pl-1">
									<label asp-for="UpdateInput.LastName">Last name</label>
									<input asp-for="UpdateInput.LastName" type="text" value="@Model.ProfileUser.LastName" class="form-control"></input>
									<span asp-validation-for="UpdateInput.LastName" class="text-danger"></span>
								</div>
							</div>
							<label asp-for="UpdateInput.Gender">Gender</label>
							<div class="form-group" style="display: flex; flex-direction: row; justify-content: flex-start; flex-wrap: wrap;">
								<div class="btn-group btn-group-toggle" data-toggle="buttons" style="order: 0;">
									<label class="btn">
										<input type="radio" value="Male" id="maleradio" class="form-control genderradio"> Male
									</label>
									<label class="btn">
										<input type="radio" value="Female" id="femaleradio" class="form-control genderradio"> Female
									</label>
									<label class="btn" id="gendercustombtn">
										<input type="radio" value="Custom" id="gendercustom" class="form-control"> Custom
									</label>
								</div>
								<input asp-for="UpdateInput.Gender" type="text" value="@Model.ProfileUser.Gender" maxlength="10" class="form-control genderinput" style="width: 8rem; display: none; order: 1;"></input>
								<span asp-validation-for="UpdateInput.Gender" class="text-danger"></span>
							</div>
							<div class="input-group">
								<div class="form-group">
									<label asp-for="UpdateInput.Birthdate"></label>
										<input asp-for="UpdateInput.Birthdate" type="date" value="@Model.ProfileUser.Birthdate?.ToString("yyyy-MM-dd")" class="form-control" max="9999-12-31"></input>
									<span asp-validation-for="UpdateInput.Birthdate" class="text-danger"></span>
								</div>
								<div class="form-group form-check">
									<label asp-for="UpdateInput.BirthdateYearPublic"></label>
									<input asp-for="UpdateInput.BirthdateYearPublic" class="form-control checkbox-custom" type="checkbox" value="true">
									<span asp-validation-for="UpdateInput.BirthdateYearPublic"></span>
								</div>
							</div>
							<div class="form-group">
								<label asp-for="UpdateInput.City"></label>
								<input asp-for="UpdateInput.City" type="text" value="@Model.ProfileUser.City" class="form-control"></input>
								<span asp-validation-for="UpdateInput.City" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="UpdateInput.Hometown"></label>
								<input asp-for="UpdateInput.Hometown" type="text" value="@Model.ProfileUser.Hometown" class="form-control"></input>
								<span asp-validation-for="UpdateInput.Hometown" class="text-danger"></span>
							</div>
							<div class="input-group">
								<div class="form-group pr-1">
									<label asp-for="UpdateInput.JobTitle">Job title</label>
									<input asp-for="UpdateInput.JobTitle" type="text" value="@Model.ProfileUser.JobTitle" class="form-control"></input>
									<span asp-validation-for="UpdateInput.JobTitle" class="text-danger"></span>
								</div>
								<div class="form-group pl-1">
									<label asp-for="UpdateInput.Company"></label>
									<input asp-for="UpdateInput.Company" type="text" value="@Model.ProfileUser.Company" class="form-control"></input>
									<span asp-validation-for="UpdateInput.Company" class="text-danger"></span>
								</div>
							</div>
							<div class="input-group">
								<div class="form-group pr-1">
									<label asp-for="UpdateInput.HighSchool">High school</label>
									<input asp-for="UpdateInput.HighSchool" type="text" value="@Model.ProfileUser.HighSchool" class="form-control"></input>
									<span asp-validation-for="UpdateInput.HighSchool" class="text-danger"></span>
								</div>
								<div class="form-group pl-1">
									<label asp-for="UpdateInput.College"></label>
									<input asp-for="UpdateInput.College" type="text" value="@Model.ProfileUser.College" class="form-control"></input>
									<span asp-validation-for="UpdateInput.College" class="text-danger"></span>
								</div>
							</div>
							<div class="form-group">
								<label asp-for="UpdateInput.Bio">Bio</label>
								<textarea asp-for="UpdateInput.Bio" id="bioinput" class="form-control"></textarea>
								<span asp-validation-for="UpdateInput.Bio" class="text-danger"></span>
							</div>
							<div class="modal-footer">
								<div id="updateprofileresponse" class="updateresponse"></div>
								<button type="submit" class="btn">Save changes</button>
								<button type="button" class="btn editformclose" data-dismiss="modal">Close</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	}
</div>
@section Scripts
{
	<script src ="~/js/postscroll.js" data-user_id="@Model.ProfileUser.Id" data-url="User" type="text/javascript"></script>
	<script type="text/javascript" src="~/js/postform.js"></script>
	<script src="~/js/like.js" type="text/javascript"></script>
	@if(Model.IsProfileOwner)
	{
		<script src="~/lib/jquery-validate/jquery.validate.js"></script>
   		<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
		<script src="~/js/gendercustom.js" ></script>
		<script src="~/js/updateprofile.js" ></script>

		@if(Model.ProfileUser.Gender == "Male")
		{
			<script >
				$("#maleradio").last().prop('checked', true);
			</script>
		}
		else if(Model.ProfileUser.Gender == "Female")
		{
			<script >
				$("#femaleradio").last().prop('checked', true);
			</script>
		}
		else
		{
			<script >
				$("#gendercustom").last().prop('checked', true);
				$("#UpdateInput_Gender").toggle();
			</script>
		}
		@if(!String.IsNullOrEmpty(Model.ProfileUser.Bio))
		{
			<script >
				$("#bioinput").val($("#biotext").text());
			</script>
		}
		@if(Model.ProfileUser.BirthdateYearPublic == true)
		{
			<script >
				$('#UpdateInput_BirthdateYearPublic').prop("checked", true);
			</script>
		}
	}
	<script >
		if ($("#profilebadges").children().length == 0)
		{
			($("#profilebadges").toggle());
		}
	</script>
}