@using Fakebook.Core.Entities
@model MessengerViewModel

@foreach (Friendship friend in Model.Friends) 
{
	@if (friend.Status == Status.Accepted)
	{
		<a data-toggle="list" id='@friend.Friend.Id' class="messenger-friend list-group-item list-group-item-action" href="#chat-@friend.Friend.Id" style="width:100%; text-decoration: none;" role="tab" aria-controls="chat-@friend.Friend.Id" aria-selected="false">
			<div class="" style="text-decoration: none;">
				<img src="data:image/png;base64,@Convert.ToBase64String(friend.Friend.ProfilePicture)" width="40" height="40" style="display: inline-block;" class="ml-1 mr-1"/>
				<p style="display: inline-block; text-decoration: none; color:#000000;" id="name-@friend.Friend.Id" class="messenger-friend-name">@friend.Friend.FirstName @friend.Friend.LastName</p>
			</div>
		</a>
		// Message display to be moved to correct pane with JS
		<div id="chat-@friend.Friend.Id" class="messages tab-pane pt-4">
			<div class="m-0 p-0 chatempty"></div>
			@foreach(List<Message> messageList in Model.Messages)
			{
				@if(messageList.Count > 0)
				{
					@if (messageList[0].SenderId == friend.Friend.Id || messageList[0].RecieverId == friend.Friend.Id)
					{
						@foreach(Message message in messageList)
						{
							@if (message.SenderId == friend.Friend.Id)
							{
								<div class="message-wrapper friend-message-wrapper">
									<div class="message-header">
										@message.Sender.FirstName
									</div>
									<div class="friend-message message">
										@message.Content
									</div>
								</div>
							}
							@if (message.RecieverId == friend.Friend.Id)
							{
								<div class="message-wrapper sent-message-wrapper">
									<div class="message-header">
										@message.Sender.FirstName
									</div>
									<div class="sent-message message">
										@message.Content
									</div>
								</div>
							}
						}
					}
				}
			}
		</div>
	}
}
 