@model Fakebook.Web.Models.PostModel

<div class="post card card-outline-primary m-1 p-1">
	<div class="Author p-1">
		<img src="data:image/png;base64,@Convert.ToBase64String(Model.ProfilePicture)" width="40" height="40"/>
		<a href="~/Profile/@Model.UserPublicId">@Model.FirstName @Model.LastName</a>
		@{
			var TimeSince = DateTime.Now - Model.DatePosted;
			string Date;
		}
		@if (TimeSince.TotalMinutes < 1) {
			Date = Convert.ToInt16(TimeSince.TotalSeconds).ToString() + "s";
		}
		else if (TimeSince.TotalHours < 1) {
			Date = Convert.ToInt16(TimeSince.TotalMinutes).ToString() + "m";
		}
		else if (TimeSince.TotalHours < 24) {
			Date = Convert.ToInt16(TimeSince.TotalHours).ToString() + "h";
		}
		else if (TimeSince.TotalDays < 7) {
			Date = Convert.ToInt16(TimeSince.TotalDays).ToString() + "d";
		}
		else if (Model.DatePosted.Year == DateTime.Now.Year) {
			Date = Model.DatePosted.ToString("MMMM dd");
		}
		else {
			Date = Model.DatePosted.ToShortDateString();
		}
		<time class="badge text-muted" title="@Model.DatePosted.ToString("dddd, MMM dd, yyyy h:mm tt")">@Date</time>
	</div>
	<div class="post-text p-1">@Model.Text</div>
	<div class="container-fluid">
		<div class="row border-top border-bottom" style="margin:auto">
			<div class="col-md-6 m-0 p-0">
				<button class="btn text-center text-muted m-0" style="width: 100%">Like</button>
			</div>
			<div class="col-md-6 m-0 p-0">
				<button class="btn text-center text-muted m-0" style="width: 100%">Comment</button>
			</div>
		</div>
	</div>
</div>